:root {
  --bg-body: white;
  --black-300: #212124;
  --black-900: #fff;
  --bg-custom-50: white;
  --bg-custom-100: #e5e5e5;
  --bg-custom-200: #e5e5e5;
  --bg-custom-300: '';
  --bg-custom-400: #f1f0f0;
  --bg-custom-500: white;
  --bg-custom-600: #f1f1f1;
  --bg-red-600: #e4002b;
  --hover-light: white;
  --hover-custom-100: white;
  --hover-custom-200: white;
  --hover-custom-500: #e4002b;
  --border-submenu: #cbd5e1;
  --border-custom-200: #d4d4d4d4;
  --border-custom-300: #00000040;
  --border-custom-400: #d4d4d4d4;
  --border-custom-500: black;
  --border-custom-600: black;
  --red-666: #e4002b;
  --text-custom: black;
  --text-custom-300: #e4002b;
  --text-custom-500: black;
  --text-custom-600: black;
  --test: #363652;
}

.dark:root {
  --bg-body: #424243;
  --bg-custom-50: #525156;
  --bg-custom-100: #9d9d9d;
  --bg-custom-200: #525156;
  --bg-custom-300: #b0b0b0;
  --bg-custom-400: #4b4b4c;
  --bg-custom-500: #3c3a3a;
  --bg-custom-600: #5c5c5cd4;
  --bg-red-600: #ff4343;
  --black-300: #212124;
  --black-900: #121212;
  --hover-light: #c8c7c7;
  --hover-custom-100: white;
  --hover-custom-200: #555a5f;
  --hover-custom-500: #b0b0b0;
  --border-custom-200: #666666d4;
  --border-custom-300: #b0b0b0;
  --border-custom-400: #424243;
  --border-custom-500: #b0b0b0;
  --border-custom-600: #fff;
  --border-submenu: #3c3a3a;
  --red-666: #d52c45;
  --text-custom: white;
  --text-custom-300: #ff4343;
  --text-custom-500: #b0b0b0;
  --text-custom-600: #424243;
}
